<%-include('header') %>

<style>
    .lecture_list li:hover { cursor: pointer; background-color: rgb(255, 231, 185); font-weight: bold;}
</style>

<script>
    function lecture_modal( id, name, professor, classroom ) {
        let html = 
        `<table class='table table-bordered'>
            <tr>
                <th>강의번호</th>
                <td>${id}</td>
            </tr>
            <tr>
                <th>강의명</th>
                <td>${name}</td>
            </tr>
            <tr>
                <th>교수명</th>
                <td>${professor}</td>
            </tr>
            <tr>
                <th>강의실</th>
                <td>${classroom}</td>
            </tr>
        </table>`;
        $( "#lecture_modal .modal-body" ).html(html);
        $( "#lecture_modal" ).modal( "show" );
    }
</script>

<div class="container mt-5">
    <ul class="list-group lecture_list">
    <%  lectures.forEach( lecture => {  %>
        <li class="list-group-item" onclick="lecture_modal('<%=lecture["id"]%>','<%=lecture["name"]%>','<%=lecture["professor"]%>','<%=lecture["class"]%>');">
            [<%=lecture["id"]%>] <%=lecture["name"]%>
        </li>
    <% }); %>
    </ul>

    <nav class="mt-3">
        <ul class="pagination justify-content-center">
            <% for ( let i = 1; i <= page; i++ ) { %>
                <li class="page-item"><a class="page-link" href="/lecture?page=<%=i%>"><%=i%></a></li>
            <% } %>
        </ul>
    </nav>

    <div class="modal fade" id="lecture_modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">강의 정보</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
          </div>
        </div>
      </div>
</div>
</body>
</html>